/* English */

@font-face {
  font-family: "CMU Sans Serif";
  font-style: normal;
  font-weight: normal;
  src: url("~/assets/fonts/cmu-sans-serif/regular.ttf") format("opentype");
}

@font-face {
  font-family: "CMU Sans Serif";
  font-style: normal;
  font-weight: bold;
  src: url("~/assets/fonts/cmu-sans-serif/bold.ttf") format("opentype");
}

@font-face {
  font-family: "CMU Sans Serif";
  font-style: italic;
  font-weight: normal;
  src: url("~/assets/fonts/cmu-sans-serif/italic.ttf") format("opentype");
}

@font-face {
  font-family: "CMU Sans Serif";
  font-style: italic;
  font-weight: bold;
  src: url("~/assets/fonts/cmu-sans-serif/bolditalic.ttf") format("opentype");
}

/* Chinese */

@font-face {
  font-family: "HKST";
  font-style: normal;
  font-weight: normal;
  src: url("~/assets/fonts/hkst/w7.ttf") format("opentype");
}

@font-face {
  font-family: "HKST";
  font-style: normal;
  font-weight: bold;
  src: url("~/assets/fonts/hkst/w9.ttf") format("opentype");
}


html {
  height: 100vh;
  width: 100vw;
  background: #F5F5F5;
  color: #4b5563;
  overflow: hidden;
}

html.dark {
  background: #1f2937;
  color: #FEFEFE;
}

.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}

.fade-leave-active {
  position: absolute;
}
